package pages

import "github.com/OpenAudio/go-openaudio/pkg/explorer/templates/layouts"

templ Content() {
	@layouts.Base("Content") {
		<div>
			<div class="text-gray-900 dark:text-gray-100">Content</div>
		</div>
	}
}
