.DS_Store
.claude/

bin/*
!bin/.gitkeep

tmp
.obsidian

.release_notes.md

contracts/build

# Node.js dependencies
node_modules/
**/node_modules/
package-lock.json
**/package-lock.json

openaudio
programmable-distribution
/etl
